<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body>
    
<style>
    .nav-pills>li>a:hover {
    background:none;
    color:white;
}

.nav {
    padding-top: 2px;
    margin-bottom:0;
    background-color: grey;
    color: #fff;
  }

  a:hover {
    font-size: 30px;
  }
  
  a {
    font-family: 'Courgette', cursive;
    font-size: 25px;
    color: #fff
  }
  
  

</style>

<div class="nav navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                    <div>
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </div>
            </div>
            <div class="nav navbar-nav navbar-right">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <img style="width: 90px;" src="https://www.freeiconspng.com/uploads/art-gallery-icon-45.png" alt="">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categories">Home</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link" href="/location" data-toggle="dropdown">Choose location 
                            </a>
                            <div class="dropdown-menu">
                                  {% for location in locations %}
                                  <a class="dropdown-item" href="/location/{{location.id}}">{{location.name}}</a>
                                  {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <form class="navbar-form" role="search" action="{% url 'category_results' %}">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Category" name="category">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>